html{
    background-color: rgb(53, 199, 150);
    align-items: center;
}
header{
    text-align: center;
    background-color: #000;
    color: seashell;
    border-radius: 4px;
    
}
.containor{
    margin-top: 1rem;
    background-color: none;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 1rem;
   
}
.picture{
    height: 5rem;
    width: 10%
}
p{
    padding: .5rem;
    font-family: cursive;
    font-weight: 700;
    background-color: #fff;
    border-radius: 3px;
}
.form-fill{
    font-family: cursive;
    font-weight: bold;
    color: rgb(71, 16, 6);

}

.my-form{
    padding: 1rem;
    padding-top: 1rem;
    height: 20rem;
    text-align: center;
    background: none;
    border-radius: 15px;
    margin: auto;
    width: 30%;
    font-family: cursive;
}

.form-fill{
   
    padding: 1rem;
    height: auto;
    align-self: auto;
    width: 20rem;
    background-color: rgb(28, 148, 218);
    border-radius: 15px;
    text-align: center;
    
}
.submit-btn{
    color: yellow;
    background-color: rgba(112, 0, 0, 0.533);
    border-radius: 5px;
    text-align: center;
    

}
