html{
    background-color: rgb(0, 0, 0);
    align-items: center;
}
header{
    text-align: center;
    background-color: #000;
    color: rgb(255, 251, 0);
    border-radius: 4px;
    
}
.containor{
    margin-top: 1rem;
    background-color: none;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 1rem;
   
}
.picture{
    height: 5rem;
    width: 10%
}
p{
    padding: .5rem;
    font-family: cursive;
    font-weight: 700;
    background-color: rgb(119, 119, 119);
    border-radius: 3px;
}
.form-fill{
    font-family: cursive;
    font-weight: bold;
    color: rgb(196, 196, 196);

}

.my-form{
    padding: 1rem;
    padding-top: 1rem;
    height: 20rem;
    text-align: center;
    background: none;
    border-radius: 15px;
    margin: auto;
    width: 30%;
    font-family: cursive;
}

.form-fill{
   
    padding: 1rem;
    height: auto;
    align-self: auto;
    width: 20rem;
    background-color: rgb(65, 1, 1);
    border-radius: 15px;
    text-align: center;
    
}
.btn-find{
    background-color: rgb(139, 139, 139);
    border-radius: 10px;
    color: rgb(255, 251, 0);

}
.btn-find:hover{
    background-color: rgb(51, 1, 1);
    transition: 1s;
}